<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <!--Change The Value In Mode To Either Test,Production,Training To Swap Between Roles-->
  <appSettings>
    <add key="Mode" value="Production" />
    <add key="Orders" value="C:\Data\SGFlooring\OrdersByDate\" />
    <add key="Trainer" value="C:\Data\SGFlooring\TrainerOrderByDate\" />
    <add key="Tax" value="C:\Data\SGFlooring\Taxes.txt" />
    <add key="Product" value="C:\Data\SGFlooring\Products.txt" />
  </appSettings>
</configuration>
